[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.app {
  margin: 30px;
}

.grid-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

table {
  border-spacing: 0;
}

.cell {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

.alive {
  background-color: gray;
}
